<!DOCTYPE html>
<html lang="es ">
  <head>
    <link rel="stylesheet" href="../styles/reactive_style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Condicionales</title>
  </head>

  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app"></div>
    <script>
      const vm = Vue.createApp({
        data() {
          return {
            text: "Accede a tu cuenta",
            open: false,
            username: "",
          };
        },
        watch: {
          open(value) {
            if (value) {
              this.text = "Sesión iniciada";
            } else {
              this.text = "Accede a tu cuenta";
              this.username = "";
            }
          },
        },
        computed: {
          label() {
            return this.open ? "Salir" : "AccederAcceder";
          },
          buttonStyle() {
            return this.open ? ["open"] : ["close"];
          },
        },
        template: `
        <div class="container" :class="buttonStyle">
          <h2>{{ text }}</h2>
          <div v-if="open">
            <p>Hola, {{ username }}</p>
          </div>
          <div v-else>
            <label>Username</label>
            <input type="text" v-model="username" />
          </div>
          <button @click="open = !open">
            <div v-if="!open">Acceder</div>
            <div v-if="open">Salir</div>
          </button>
        </div>
        `,
      }).mount("#app");
    </script>
  </body>
</html>
