body {
  background-color: rgb(38, 36, 52);
  height: 100vh;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#app,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

button {
  margin-top: 24px;
  border: none;
  background-color: white;
  padding: 8px 24px;
  border-radius: 12px;
}

.close {
  background-color: #eca1a6;
}

.open {
  background-color: #b5e7a0;
}
